@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background-color: #2A2A2A;
  /* Charcoal Black */
  --headline-color: #FFD700;
  /* Golden Yellow */
  --paragraph-color: #EAEAEA;
  /* Soft Light Gray */
  --link-color: #6A5ACD;
  /* Royal Blue */
  --card-background-color: #4B2E83;
  /* Deep Purple */
  --card-headline-color: #832E3B;
  /* --card-headline-color: #FF4500; */
  /* Gryffindor Scarlet Red */
  --card-paragraph-color: #D1C4E9;
  /* Lavender Gray */
  /*TODO colors cleanup and refinement*/

  --font-headline: "Cinzel", serif;
  --font-paragraph: "Lora", serif;
  --font-button: "Raleway", sans-serif;


  font-family: var(--font-paragraph);
  line-height: 1.5;
  font-weight: 400;


  color-scheme: dark;
  color: var(--paragraph-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--link-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  cursor: url("/magic-wand.svg"), auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: var(--font-headline);
  color: var(--headline-color)
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--link-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
